<%- include('../partials/header') %>

<div class="login-page">
  <div class="login-wrapper">
    <h2>Sign in to LuxeStay Hotels</h2>
    <form action="/auth/login" method="POST">
      <div class="form-group">
        <% if (error_msg) { %>
          <div class="flash-error"><%= error_msg %></div>
        <% } %>

        <label>Email or Username</label>
        <input name="identifier" placeholder="Enter your email Id" required>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" required>
      </div>

      <div class="form-bottom">
        <a href="/auth/reset" class="forgot-link">Forgot your password?</a>
        <button type="submit" class="btn-login">Sign in</button>
      </div>

      <p class="register-link">
        Not a member? <a href="/auth/register">Create an account</a>
      </p>
    </form>
  </div>
</div>

<%- include('../partials/footer') %>
